
@import "../widgets/global.module.scss";

.checksum {
}

.checksumFiles {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .selectTypes {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 10px;
        background-color: $color-primary-light;
        border-radius: 4px;

        .title {
            margin: 5px 0 10px 0;
        }

        .types {
            margin: 5px 0;
            display: flex;
            gap: 24px;
            font-size: 14px;
        }
    }
    
    .dropFile {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        height: 100%;
        cursor: pointer;
        user-select: none;
        color: $text-color-primary;

        &.disabled {
            color: rgb(184, 184, 184);
            cursor: not-allowed;
        }
    }

    .result {
        display: flex;
        flex-direction: column;
        margin: 0 40px;
        padding: 20px 0px;

        .toolbar {
            display: flex;
            justify-content: flex-end;
        }

        .operations {
            display: flex;
            flex-direction: column;
    
            .operation {
                padding: 20px 0px;

                &:not(:last-child) {
                    border-bottom: 1px solid rgb(214, 214, 214);
                }

                .title {
                    margin-bottom: 10px;
                    color: $text-color-primary-dark;
                    font-weight: 700;

                    .errorTag {
                        padding: 4px;
                        border-radius: 4px;
                        background-color: rgb(206, 99, 99);
                        color: white;
                        font-size: 14px;
                    }
                }
                
                .checksumRows {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .error {
                        font-size: 14px;
                    }

                    .checksumRow {
                        display: flex;
                        
                        .checksumType {
                            margin-top: 4px;
                            font-size: 14px;
                            width: 100px
                        }

                        .checksumValue {
                            flex-grow: 1;
                            background-color: rgba(243, 243, 243, 0.404);
                        }
                    }
                }
            }
        }
    }

}