@import "@/widgets/global.module.scss";

.clipboard {
  padding: 20px;

  .textarea {
    background-color: $color-gray-light;
    border-radius: 4px;
    padding: 8px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .title {
    font-size: 16px;
    font-weight: 700;
    margin: 30px 0 10px 0;
  }

  .item {
    $p: 12px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    max-height: 300px;
    border: 1px solid $color-gray;
    border-radius: 8px;
    padding: $p;
    padding-bottom: 50px;

    .type {
      background-color: $color-secodary;
      padding: 4px 8px;
      border-radius: 4px;
      color: white;
      margin-bottom: 8px;
      font-size: 14px;
    }

    .content {
      display: -webkit-box;
      font-size: 12px;
      max-width: 100%;
      white-space: pre-wrap;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
    }

    .bar {
      position: absolute;
      bottom: $p;
      right: $p;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 4px;
    }
  }

  .file {
    $p: 12px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    max-height: 300px;
    border: 1px solid $color-gray;
    border-radius: 8px;
    padding: $p;

    .name {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .tags {
      display: flex;
      font-size: 12px;
      margin-top: 4px;

      .tag {
        padding-right: 4px;
        border-right: 1px solid $text-color-primary;
        margin-right: 4px;

        &:last-of-type {
          margin-right: 0;
          padding-right: 0;
          border-right: none;
        }
      }
    }
    .bar {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 4px;
    }
  }

  .emptyContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 14px;

    .icon {
      font-size: 32px;
      fill: $text-color-primary-light;
    }

    .text {
      margin-top: 4px;
      color: $text-color-primary-light;
    }
  }
}
