@import "@/widgets/global.module.scss";

.protobuf {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;

  .edit {
    width: 810px;

    .codes {
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin-bottom: 20px;

      .message {
        flex-grow: 1;
      }

      .data {
        flex-grow: 1;
      }
    }

    .panel {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  .output {
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .protobufTable {
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-weight: bold;
    }

    .row {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .wireType {
      width: 100px;
      min-width: 100px;
    }

    .fieldTag {
      width: 100px;
      min-width: 100px;
    }

    .length {
      width: 100px;
      min-width: 100px;
    }

    .value {
      flex-shrink: 1;
    }
  }
}
