@import "../widgets/global.module.scss";

.appbar {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: $color-gray;
  overflow: hidden;
  padding-left: 20px;

  .icon {
    font-size: 24px;
    fill: white;
    margin-right: 15px;
    cursor: pointer;
  }

  .title {
    color: white;
    font-size: 28px;
    font-weight: 700;
    user-select: none;
  }
}

.appbarMenu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;

  background-color: $color-gray;
  z-index: 999;

  .internal {
    padding: 20px;
    padding-top: 80px;
  }

  .closeBtn {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    fill: white;
    font-size: 28px;
    cursor: pointer;
  }
}
