@import "../widgets/global.module.scss";

.appbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: $color-gray;
  overflow: hidden;

  .title {
    margin-top: 45px;
    margin-left: 20px;
    color: white;
    font-size: 28px;
    font-weight: 700;
    user-select: none;
  }
}
