@import "./global.module.scss";

.title {
  font-size: 36;
  font-weight: 700;
  color: white;
  margin: 20px 0;
  user-select: none;
}

.button {
  border-radius: 4px;
  padding: 10px 20px;
  background-color: $color-gray-light;
  color: $text-color-primary-dark;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
  transition: all 0.1s;

  &:not(:disabled) {
    &:hover {
      background-color: $text-color-primary-dark;
      color: white;
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: $text-color-primary-light;
  }
}

.textArea {
  border: none;
  resize: none;
  outline: none;
  font-size: 14px;
  padding: 4px;
}
