$color-primary: #22a7f0;
$color-primary-light: #dcf4ff;
$color-secodary: rgb(224, 140, 28);
$color-gray-light: rgb(233, 233, 233);
$color-gray: rgb(41, 41, 41);
$text-color-primary: rgb(65, 65, 65);
$text-color-primary-light: rgb(178, 178, 178);
$text-color-primary-dark: rgb(41, 41, 41);
