@import "./global.module.scss";

.container {
    $radius: 2.5px;

    height: 5px;
    border-radius: $radius;
    overflow: hidden;
    background-color: $color-primary-light;

    .bar {
        height: 100%;
        border-radius: $radius;
        background-color: $color-primary;
    }
}
